*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form {
    text-align: center;
    width: 300px;
    padding: 1rem;
    background-color: rgba(199,199,199,427);
}

