:root{
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: var(--font-mono);
}

section{
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

section h1{
    font-size: 3em;
}

section h2{
    text-align:center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em
}

section form{
    padding: 1.5em;
    display:flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(0,0,0,.1);
}

section form label{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border: none;
    outline-color: #f3f5fd;
    background-color: #eee;
}

section form input[type='submit']{
    cursor: pointer;
    margin-top: 1.5em;
    background-color: #a6a9b4;
    color: #fff;
    font-family: var(--font-mono);
    transition: var(--transition);
} 

section form input[type='submit']:active{
    transform: scale(0.97);
}

section p{
    margin-top: 1.5em;

}


section p a{
    text-decoration: none;
    color: #8d7070;
}



/* Estilos para el formulario de reseñas */
section form {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 10px;
    border: 2px solid #bd9f9e;
    background-color: #080202;
}

section form label {
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
    color: #ffffff;
}

section form input,
section form select,
section form textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e2c1bf;
    outline-color: #b19493;
    background-color: #ffffff;
    color: #000000;
}

section form input[type='submit'] {
    cursor: pointer;
    margin-top: 1.5em;
    background-color: #db241b;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

section form input[type='submit']:hover {
    background-color: #ab1c15;
}

section form p {
    margin-top: 1.5em;
    color: #a7a7a7;
}

section form p a {
    text-decoration: none;
    color: #db241b;
}

section form select:focus,
section form input:focus,
section form textarea:focus {
    border-color: #db241b;
}

